.container {
    background-color: #fff;
    padding: 50px 30px 0 30px;
}

@media (min-width: 768px) {
    .container {
        padding: 50px 102px 0px 106px;
    }
}

@media (min-width: 1338px) {
    .container {
        padding: 50px 66px 0 352px;
    }
}

@media (min-width: 1600px) {
    .container {
        padding: 0 0 0 285px;
        margin: 0;
    }
}

.heroSection {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    margin: -50px -30px 0;
    padding: 50px 30px;
}

@media (min-width: 768px) {
    .heroSection {
        margin: -50px -102px 50px -106px;
        padding: 50px 102px 50px 106px;
    }
}

@media (min-width: 1338px) {
    .heroSection {
        margin: -50px -352px 0;
        padding: 50px 0 0 352px;
    }
}

@media (min-width: 1600px) {
    .heroSection {
        margin: 0 auto;
        padding: 50px 0 0;
        width: 100%;
    }
}

.styledHeader {
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-left: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.headerScrolled {
    position: fixed;
    background-color: #063145;
    margin-left: -32px;
    padding: 0 32px;
}

@media (min-width: 768px) {
    .styledHeader {
        margin-bottom: 88px;
    }
    .headerScrolled {
        margin-left: -102px;
        padding: 0 50px;
    }
}

@media (min-width: 1338px) {
    .styledHeader {
        position: static;
        display: block;
        margin-bottom: 100px;
        margin-left: 0; /* Reset scrolled margin for desktop */
    }
}

@media (min-width: 1600px) {
    .styledHeader, .styledContainer {
        max-width: 1280px;
        margin: 0 auto 100px;
        padding: 0 40px;
    }
    .styledContainer {
        margin-bottom: 0;
    }
}

.mainTextContainer {
    width: 100%;
    margin-bottom: 36px;
}

@media (min-width: 768px) {
    .mainTextContainer {
        width: 536px;
        margin-bottom: 48px;
    }
}

@media (min-width: 1338px) {
    .mainTextContainer {
        margin-bottom: 36px;
    }
}

.mainText {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
}

@media (min-width: 768px) {
    .mainText {
        font-size: 52px;
        line-height: 60px;
    }
}

.getStartedButton {
    font-size: 16px;
    font-weight: 600;
    background: #D22730;
    width: 148px;
    height: 34px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 21.5px;
    margin-bottom: 34px;
}

@media (min-width: 768px) {
    .getStartedButton {
        width: 200px;
        height: 40px;
        font-size: 21px;
        font-weight: 700;
    }
}

.bioSection {
    width: 100%;
}

@media (min-width: 1338px) {
    .bioSection {
        width: 550px;
    }
}

.bioSection p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

@media (min-width: 1338px) {
    .bioSection p {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}