.container {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 1022px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1280px;
    }
}

.teamIconContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

@media (min-width: 1338px) {
    .teamIconContainer {
        display: block;
        margin-bottom: 0;
        padding-right: 54px;
    }
}

.bioContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.bioText {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 32px;
    width: 298px;
    color: #000000;
}

.ratingNumber {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.reviewCountText {
    font-size: 14px;
    color: #000;
    margin: 0;
}

.reviewLink {
    text-decoration: underline;
    color: inherit;
}

.starsIcon {
    margin-left: -4px;
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .bioContainer {
        width: auto;
        display: block;
        padding-left: 0;
    }
    .bioText {
        font-size: 16px;
        line-height: 24px;
        width: auto;
        max-width: 475px;
    }
}

@media (min-width: 1338px) {
    .bioContainer {
        display: flex;
        padding-bottom: 26px;
    }
    .bioText {
        width: 550px;
        max-width: 550px;
    }
}

@media (min-width: 1600px) {
    .bioText {
        font-size: 18px;
        width: 650px;
        max-width: none;
    }
}