.main {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    // position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    // justify-content: space-between;
  }

.progress-container {
  width: 100%;
 
  @media (min-width: 0px) and (max-width: 1023px) {
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 126px;
  }
  .form_heading{
    font-size: 2.266666667vw;
    // line-height: 6.4vw;
    // width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
    @media (min-width: 0px) and (max-width: 1023px) {
        font-size: 6.266666667vw;
    }
  }
  .form_para{
    font-size: 1.266666667vw;
    // line-height: 6.4vw;
    // width: 80vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0px 0px 0px;
    @media (min-width: 0px) and (max-width: 1023px) {
        font-size: 4.266666667vw;
    }
  }
  .input_box{
    margin-top: 35px;
    .input_div{
        text-align: center;
        margin-top: 12px;
       input{
        width: 40%;
        border-radius: 12px;
        border: 2px solid rgb(131, 124, 124);
        height: 55px;
        padding: 0 12px;
        @media (min-width: 0px) and (max-width: 1023px) {
            width: 100%;
        }
       }
    }
  }
  .terms{
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
    a{
      color: black;
    }
   }

}
.submit_btn{
  text-align: center;
  padding: 25px 0;
  background-color: rgba(142, 135, 177, 0.178);
  margin-top: 25px;
  padding-bottom: 35;
  position: fixed;
  width: 100%;
  bottom: 0;
  @media (min-width: 0px) and (max-width: 1023px) {
 
  }
  button{
    padding: 17px 50px;
    border-radius: 12px;
    border: none;
    background-color: rgb(107, 105, 105);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
 }
.content-container {
  // height: 100% !important;
  // margin-top: auto;
  margin-bottom: auto;
  @media (min-width: 0px) and (max-width: 1023px) {
      // margin-bottom: 0px;
      padding-bottom: 29.06666667vw;
      overflow-y: scroll;
  }
  // background-color: red;
  width: 100%;
}

.footer-container {
    // margin-top: auto;
    @media (min-width: 0px) and (max-width: 1023px) {
        position: sticky !important;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100000000;
    }
}
// .allways-bottom {
//     position: absolute;
//     bottom: 0;
// }