.beta-content-callout-item-popover {
    background-color: white;
    color: #1D1D1DC0;
    font-weight: 300;
    visibility: hidden;
    transition: all 0s ease-in;
    border: 0.5px solid #7070703E;
    border-radius: 5px;
    position: relative;
    text-align: center;
  
    @media (min-width: 0px) and (max-width: 1023px) {
        width: 30.53333333vw;
        // width: 17vw;
        font-size: 3.2vw;
        line-height: 3.733333333vw;
        padding: 2.633333333vw 10px 1.333333333vw 10px;
        transform: translateY(50px) translateX(calc(-50% + 25px));                
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        width: 180px;
        font-size: 13px;
        line-height: 16px;
        padding: 10px 10px;
        transform: translateY(50px) translateX(calc(-50% + 25px));                
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
        width: 180px;
        font-size: 13px;
        line-height: 16px;
        padding: 10px 10px;
        transform: translateY(50px) translateX(calc(-50% + 25px));                
    }
    @media (min-width: 1920px) {
        width: 180px;
        font-size: 13px;
        line-height: 16px;
        padding: 10px 10px;
        transform: translateY(20px) translateX(calc(-50% + 25px));                
    }
  
    &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 20px;
        height: 20px;
        right: 50px;
        top: 0px;
        border-left: 0.5px solid #7070703E;
        border-top: 0.5px solid #7070703E;
        transform: translate(-50%, -50%) rotate(45deg);
        // z-index: 1;
    }
  }
  
  .beta-content-callout-item {
    position: relative;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    @media (min-width: 0px) and (max-width: 1023px) {
        width: 11.17066667vw;
        height: 0;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        width: 64.29px;        
        height: 0;        
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
        width: 75.49px;        
        height: 0;        
    }
    @media (min-width: 1920px) {
        width: 75.49px;        
        height: 0;        
    }
    // &:hover {
    //     transform: scale(1.1);
    // }
  
    .beta-content-callout-item-icon {
        inset: 0px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .beta-content-callout-item-title {
        position: absolute;
        bottom: -20px;
        left: 50%;
        color: #193A52;
        font-weight: 800;
        text-align: center;
        transform: translateX(-50%) translateY(100%);
  
        @media (min-width: 0px) and (max-width: 1023px) {
            bottom: -10px;
            width: 17vw;
            font-size: 3.033333333vw;
            line-height: 3.266666667vw;                
            
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
            width: 90px;
            font-size: 16px;
            line-height: 20px;                
        }
        @media (min-width: 1280px) and (max-width: 1919px) {
            width: 110px;
            font-size: 16px;
            line-height: 20px;                
        }
        @media (min-width: 1920px) {
            width: 110px;
            font-size: 16px;
            line-height: 20px;                
        }
    }
    .beta-content-callout-item-popover {
        background-color: white;
        color: #1D1D1DC0;
        font-weight: 300;
        visibility: hidden;
        transition: all 0s ease-in;
        border: 0.5px solid #7070703E;
        border-radius: 5px;
        position: relative;
        text-align: center;
  
        @media (min-width: 0px) and (max-width: 1023px) {
            width: 30.53333333vw;
            // width: 17vw;
            font-size: 3.2vw;
            line-height: 3.733333333vw;
            padding: 2.633333333vw 10px 1.333333333vw 10px;
            transform: translateY(50px) translateX(calc(-50% + 25px));                
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
            width: 180px;
            font-size: 13px;
            line-height: 16px;
            padding: 10px 10px;
            transform: translateY(50px) translateX(calc(-50% + 25px));                
        }
        @media (min-width: 1280px) and (max-width: 1919px) {
            width: 180px;
            font-size: 13px;
            line-height: 16px;
            padding: 10px 10px;
            transform: translateY(50px) translateX(calc(-50% + 25px));                
        }
        @media (min-width: 1920px) {
            width: 180px;
            font-size: 13px;
            line-height: 16px;
            padding: 10px 10px;
            transform: translateY(20px) translateX(calc(-50% + 25px));                
        }
  
        &::after {
            content: "";
            position: absolute;
            background-color: white;
            width: 20px;
            height: 20px;
            right: 50px;
            top: 0px;
            border-left: 0.5px solid #7070703E;
            border-top: 0.5px solid #7070703E;
            transform: translate(-50%, -50%) rotate(45deg);
            // z-index: 1;
        }
    }
  
    &:hover .beta-content-callout-item-popover,&:focus .beta-content-callout-item-popover {
        transform: translateY(15px) translateX(calc(-50% + 25px));
        visibility: visible;
        transition: all 0.3s ease-in;
    }
  
  }